body {
    font-size: 12px;
}
/*#carouselExampleIndicators {*/
    /*width:400px;*/
    /*float: left;*/
/*}*/
/*#carouselExampleIndicators .carousel-caption {*/
    /*left:0;*/
	/*right:0;*/
	/*bottom:0;*/
	/*text-align:left;*/
	/*padding:10px;*/
	/*background:rgba(0,0,0,0.6);*/
	/*text-shadow:none;*/
/*}*/

/*#carouselExampleIndicators .list-group {*/
	/*position:absolute;*/
	/*top:0;*/
	/*right:0;*/
/*}*/
/*#carouselExampleIndicators .list-group-item {*/
	/*border-radius:0px;*/
	/*cursor:pointer;*/
/*}*/
/*#carouselExampleIndicators .list-group .active {*/
	/*background-color:#eee;*/
/*}*/

/*@media (min-width: 992px) {*/
	/*#carouselExampleIndicators {padding-right:33.3333%;}*/
	/*#carouselExampleIndicators .carousel-controls {display:none;}*/
/*}*/
/*@media (max-width: 991px) {*/
	/*.carousel-caption p,*/
	/*#carouselExampleIndicators .list-group {display:none;}*/
/*}*/